__pycache__
.cmake
.vscode
.DS_Store
.ninja_log
.ninja_deps
build.ninja
Makefile
CMakeFiles
CMakeCache.txt
CTestTestfile.cmake
cmake_install.cmake
compile_commands.json
*.html
*.png
IORA.*
Testing/*
build/Testing/
test/coverage_report/
docs/
IORA