.cmake
.vscode
.DS_Store
build.ninja
CMakeFiles
CMakeCache.txt
CTestTestfile.cmake
cmake_install.cmake
compile_commands.json
Makefile
__pycache__
IORA.*
Testing/*
build/Testing/*
test/coverage_report/*